@model DoxFlorisMVCWeb.ViewModels.ListSpeedrunViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>
    
    <p>
        <partial name="_LoginPartial" />
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Speedruns[0].snelheid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speedruns[0].datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speedruns[0].plank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speedruns[0].zeil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speedruns[0].lid)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Speedruns) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.snelheid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zeil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lid.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
