@model DoxFlorisMVCWeb.ViewModels.ListBerichtViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>KWKM Nieuws</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
    
</p>

@foreach (var item in Model.Berichten)
{
    <div class="row">
      
        <div class="col-md-8">
            <h3> @Html.DisplayFor(modelItem => item.titel)</h3>
            <h6> @Html.DisplayFor(modelItem => item.datum)</h6>
            <h6>Door  @Html.DisplayFor(modelItem => item.lid.voornaam)  @Html.DisplayFor(modelItem => item.lid.achternaam)</h6>
  
            <p>  @Html.DisplayFor(modelItem => item.inhoud)</p>

        </div>
    </div>

    <hr>
}



