@model DoxFlorisMVCWeb.Models.Lid

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lid</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geboortedatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geboortedatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.straat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.straat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.huisnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.huisnummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.land)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.land)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefoon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefoon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
