@model DoxFlorisMVCWeb.ViewModels.ListLidViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Lid" asp-action="Search" method="get">
        <div class="form-actions no-color">
            <p>
                Zoek op Naam:
                <input asp-for="NaamSearch" />
                <input type="submit" value="Zoeken" class="btn btn-default" />
                <a asp-controller="Bestelling" asp-action="Index">Terug naar volledige lijst</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].geboortedatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].straat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].huisnummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].land)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leden[0].telefoon)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Leden) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.achternaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geboortedatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.straat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.huisnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.land)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefoon)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
