@model DoxFlorisMVCWeb.ViewModels.ListLidViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
    }

    <h1>Leden</h1>

    <p>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create">Create New</a>
        }
    </p>

    <form asp-controller="Lid" asp-action="Search" method="get">
        <div class="form-actions no-color">
            <p>
                Zoek op Naam:
                <input asp-for="NaamSearch" />
                <input type="submit" value="Zoeken" class="btn btn-primary" />
                <a asp-controller="Lid" asp-action="Index">Terug naar volledige lijst</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Voornaam</th>
                <th scope="col">Achternaam</th>
                <th scope="col">Geboortedatum</th>
                <th scope="col">straat</th>
                <th scope="col">huisnummer</th>
                <th scope="col">postcode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Leden)
            {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.voornaam)
                </td>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.achternaam)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.geboortedatum)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.straat)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.huisnummer)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.postcode)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>